<!-- <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <nz-table #basicTable [nzData]="jobs" [nzPageSize]="20" [nzShowPagination]="'false'">
        <thead>
            <tr>
                <th style="font-weight: bolder;">JOB ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of basicTable.data">
                <td>{{job.id}}</td>
            </tr>
        </tbody>
    </nz-table> -->



    <ul>
        <li *ngFor="let result of data">ID is {{result}}</li>
    </ul>
